.feature{
    background-color: inherit;
    display: flex;
    position: relative;
    /* align-items: center; */
    margin-bottom: 10px;
    padding: 10px 0px;
}

.featureVotes{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 1px#eee;
    padding: 10px;
    margin-right: 15px;
}

.voteIcon{
    background-color: inherit;
    color: #aaa !important;
    cursor: pointer;
    padding: 2px !important;
}

.voteIcon:hover{
    color: #555 !important
}

.featureVotes p{
    background-color: inherit;
    font-size: 15px;
    padding: 2px;
}

.featureContent{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-right: 40px;
    cursor: pointer;
}

.featureContent .title{
  background-color: inherit;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.featureContent .detail{
    background-color: inherit;
    padding: 5px 0;
    font-size: 15px;
    color: #777;
    font-weight: 500;
}

.featureComments{
    padding: 8px;
    background-color: inherit;
    display: flex;
    margin-right: 10px;
    /* right: 10px;
    top: 10px; */
    cursor: pointer;
}

.featureComments p{
    background-color: inherit;
    padding: 3px 3px;
    font-size: 15px;
    font-weight: 500;
}

.commentIcon{
    background-color: inherit !important;
    padding: 7px 3px !important;
    color: #aaa !important;
}
