.App{
  display: "flex";
  flex-direction:"column";
  justify-content:"space-between";
  background-color: rgb(246, 246, 248);
}

.canvas {
  width: 80%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
}

.addFeature {
  width: 30%;
  height: fit-content;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px;
  border-radius: 5px;
}

.addFeature h3 {
  color: #999;
  background-color: inherit;
  font-size: 17px;
  line-height: 38px;
  text-align: center
}

.addFeature p{
 width: 80%;
 text-align: center;
 background-color: inherit;
 margin: 10px 0;
 white-space: pre-wrap;
 font-size: 15px;
 line-height: 22px
}

.formContainer{
  width: 100%;
  background-color: inherit;
  margin-top: 10px;
}

.addFeatureformGroup{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  background-color: #FFF;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.addFeatureformGroup label{
  font-size: 11px;
  font-weight: 700;
  color: #999;
  background-color: inherit;
  word-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.addFeatureformGroup input{
  border-width: 0;
  background-color: inherit;
  padding: 5px;
  outline: none;
  font-size: 15px;
  letter-spacing: 0.05em;
}

.addFeatureformGroup textarea{
  border-width: 0;
  background-color: inherit;
  padding: 5px;
  line-height: 22px;
  outline: none;
  font-size: 15px;
  letter-spacing: 0.05em;
}

.imagePreview{
  position: relative;
  background-color:inherit;
  border-radius: 2px;
  display: inline;
  width: 100%;
  height: auto;
  padding: 5px;
}

.imagePreview img{
  max-height: 100px;
  max-width: 95%;
  margin: 0 5px 5px 0;
  vertical-align: top;
  cursor: pointer;
}

.imagePreview img.close{
   background-color: #fff; 
   position: absolute;
   z-index: 999;
   right: 10px;
   top: 10px;
   height: 15px;
   width: 15px;
}

.error{
  background-color: inherit;
  color: red;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.buttons-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: inherit;
}

.buttons-group label{
  background-color: #FFF;
  color: #888;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.buttons-group label:hover{
  color: #555;
}

.buttons-group button {
  border-width: 0;
  border-radius: 5px;
  border: 0;
  padding: 0 10px;
  color: #FFF;
  background-color: #543;
}
